config.mk

qald
qald7
qald9
parameter-datasets
eval
test
eval-synthetic
test-synthetic
datadir
models

manifest.tt
emptydataset.tt
entities.json
parameter-datasets.tsv

synthetic*.tsv
augmented*.tsv
fewshot*.tsv
dev*.tsv
test*.tsv
everything.tsv
*-dropped.tsv
*.sqlite
*.tmp*

node_modules
domain.json

*.jsonl
openai/cache.json
openai/*.results
openai/*-sparql.tsv
!openai/fewshot.tsv
!openai/dev.tsv
!openai/test.tsv