config.mk

qald
qald7
qald9
parameter-datasets
eval
test
datadir
models

manifest.tt
emptydataset.tt
entities.json
parameter-datasets.tsv

synthetic*.tsv
fewshot.tsv
everything.tsv
*-dropped.tsv
*.sqlite

